.gauge {
  position: relative;
  top: 0;
  left: 0;
}

.svg-circle-background,
.svg-major-ticks,
.svg-circle-interior {
  cx: 50%;
  cy: 50%;
}

.svg-circle-interior {
  fill: url(#inner-gradient);
  stroke: #2f2f2f;
  stroke-width: 0.09rem;
}

.svg-circle-background {
  stroke-width: 0.08rem;
  stroke: #707070;
  fill: url(#Gradient);
}

.gauge svg #Gradient {
  --color-bg-center: #231f20;
  --color-bg-middle: #020202;
  --color-bg-outer: #000000;
}
